{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.address) }}
    {{ form_row(form.company) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
