{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="paddBottom">Service index</h1>
        <div class="bg-white mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-1">Id</div>
                    <div class="col">Name</div>
                    <div class="col">Duración</div>
                    <div class="col">Descripción</div>
                    <div class="col">Imagen</div>
                    <div class="col-2">Accion</div>
                </div>
            </div>
            
            {% for service in servicies %}

            <div class="row card-body">
                <div class="col-1">{{ service.id }}</div>
                <div class="col">{{ service.name }}</div>
                <div class="col">{{ service.duration }}</div>
                <div class="col">{{ service.description }}</div>
                <div class="col">{{ service.image }}</div>
                <div class="col-1">
                    <a href="{{ path('service_show', {'id': service.id}) }}" class="btn btn-secundary btn-lg far fa-eye"></a>
                </div>
                <div class="col-1">
                    <a href="{{ path('service_edit', {'id': service.id}) }}" class="btn btn-lg far fa-edit"></a>
                </div>
            </div>

            {% else %}
                <div class="row">
                    <div class="col">no records found</div>
                </div>
            {% endfor %}
        
        </div>
        <div>
            <a href="{{ path('service_new') }}" class="btn btn-light btn-lg disable" role="button" aria-pressed="true"><i class="far fa-plus-square"></i> Agregar</a>
        </div>
</div>    

{% endblock %}
