<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/cms-app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="wrapper">        
        {{ include('./_sidebar.html.twig') }} 
        <div id="content">{{ include('./_header.html.twig') }} 
        
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/vendors~cms-app.js') }}"></script>
            <script src="{{ asset('build/cms-app.js') }}"></script>
        {% endblock %}
        </div>
    </div>
    </body>
</html>